.sortable-bucket {
  height: 650px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 650px;
}

.sortable-bucket .bucket-cell {
  cursor: pointer;
  float: left;
  font-size: 4em;
  height: 90px;
  list-style-type: none;
  margin: 3px 3px 3px 0;
  padding: 1px;
  text-align: center;
  width: 100px;
}
